body {
  box-sizing: border-box;
}

header {
  max-height: 6em;
  min-height: 10%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
}

.hero-image > img {
  width: 100%;
  margin-top: 1vw;
}

.container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles {
  display: flex;
}

article {
  margin: 1%;
  border: 1px solid black;
  padding: 1%;
}

article > img {
  width: 100%;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.2rem;
}

footer {
  max-height: 6em;
  min-height: 10%;
  border-top: 1px solid black;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:800px){
  /* anything we write here will overide or add to the CSS above */
  .articles {
    flex-direction: column;
  }
}